body {
  font-family: "Major Mono Display";
}

/*  center everything
    instead of "OR" have to crossed dog-bones
    preview images styleeee
  */
.voting-page {
  background: linear-gradient(to right, #24243e, #141e30, #0f0c29);
  font-size: 40px;
  border-radius: 15px;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
}

.vote-section {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.vote-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.vote-container {
  background-color: #24243e;
  border-radius: 15px;
  display: grid;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.2),
    5px 5px 10px rgba(0, 0, 0, 0.55);
  margin: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.like-button {
  border-radius: 15px;
  margin-top: 10px;
  padding: 20px;
  cursor: pointer;
  background: url("../images/like-btn_Default.png") no-repeat;
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-bottom: 20px;
}

.like-button:hover {
  background: url("../images/like-btn_On-hover.png") no-repeat;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.dog-imgs {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

.vote-img {
  border-radius: 15px;
  margin: 50px;
  margin-bottom: 40px;
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-style: groove;
  border-color: #7575ab;
  grid-column: 1 / span 8;
  grid-row: 1;
  margin-top: 15%;
  z-index: 1;
}

.vote-img-prev {
  border-radius: 15px;
  margin: 50px;
  margin-bottom: 10px;
  height: 200px;
  width: 200px;
  object-fit: cover;
  grid-column: 4 / -1;
  grid-row: 1;
}

.vote-meter {
  margin-top: 50px;
  margin-left: 50px;
}

.or {
  padding-top: 250px;
  width: 180px;
  height: 180px;
  animation: rotating-imgZ 5s linear infinite;
}

@keyframes rotating-imgZ {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}
